.card {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.03em;
  &-title {
    font-family: bodoni, serif;
    font-size: 35px;
    font-weight: 400;
  }
  &-content {
   font-size: 16px;
   display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* no of lines */
    text-overflow: ellipsis;
    overflow:hidden !important;
    // width:180px;
  }
}
