body {
  margin: 0;
  font-family: Karla,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fbf9f4 !important;
  font-size: 0.75rem !important ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
